.content-area {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  padding: 20px 0;

  > div {
    width: 100%;
    margin: 20px;

    &.side-area {
      max-width: 500px;
    }
    &.action-area {
      max-width: 700px;
    }
  }
}
